@import "tailwindcss";

@layer components {
  .list {
    @apply text-white cursor-pointer text-lg
  }
  .list:hover {
    @apply underline
  }
  .title {
    @apply flex justify-center text-8xl/32 text-center font-extrabold text-[#0cad60] 
  }
  .section__border {
    @apply  flex justify-center items-center w-full max-w-[1920px] h-[34vh] bg-black text-[#0cad60] text-[135px] font-bold uppercase
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


